<section class="section">
  <div class="container">
    <h1 class="title is-3">All Customers</h1>
    <div class="buttons">
      <%= link_to 'View Customers Missing Email', customers_missing_email_path, class: 'button is-link' %>
      <%= link_to 'View Alphabetized Customers', customers_alphabetized_path, class: 'button is-link' %>
      <%= link_to 'Add New Customer', new_customer_path, class: 'button is-primary' %>
    </div>
    
    <div class="columns is-multiline">
      <% @customers.each do |customer| %>
        <div class="column is-one-third">
          <!-- Render Customer Info (and delete link inside the partial) -->
          <%= render 'customer', customer: customer %>
        </div>
      <% end %>
    </div>
  </div>
</section>
